/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Properties and Fonts  */

@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.woff);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --clr-light: white;
    --clr-accent: #90606d;
    --clr-dark: #090a0c;
    --clr-subtle: rgba(0, 0, 0, 0.5);
}

/* Main Styling */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.screen-container {
    height: 85vh;
    width: 165vh;
    border-radius: 15px;
    box-shadow: 0px 3px 15px 0px var(--clr-subtle); 
    display: flex;
}

.image-container {
    height: 85vh; 
    width: 60vh; 
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-container {
    height: 85vh;
    width: 105vh;
}

#bg-img {
    border-radius: 15px 0 0 15px;
    z-index: 1;
}

.banner {
    width: 60vh;
    height: 15vh;
    background-color: var(--clr-subtle);
    position: absolute;
    z-index: 2;
    margin-top: 79px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#banner-image {
    width: 16%;
    height: 80%;
    z-index: 3;
}

#banner-heading {
    font-family: Norse-Bold;
    color: var(--clr-light);
    font-size: 3.5rem;
    z-index: 3;
}

#image-credit {
    color: var(--clr-light);
    z-index: 3;
    position: absolute;
    bottom: 0;
    align-self: center;
    margin-bottom: 5px;
    opacity: 0.95;
    font-family: 'Roboto', sans-serif;
}

a.credit {
    color: var(--clr-light);
}

.form-text-sections {
    width: 105vh;
    height: 25vh;
    background-color: #f0f0f0;
}

#section-1 {
    border-radius: 0px 15px 0px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-2 {
    width: 105vh;
    height: 35vh;
    box-shadow: 0 3px 5px -2px var(--clr-subtle); 
    position: relative;
}

#section-3 {
    border-radius: 0px 0px 15px 0;
}

.introduction-text {
    color: var(--clr-dark);
    font-size: 1.1rem;
    margin-left: 5vh;
}

.introduction-text-container {
    width: 69vh;
    font-family: 'Roboto', sans-serif;
}

.italics {
    font-style: italic;
}

.form-beginning-text {
    font-size: 1.3rem;
    color: var(--clr-dark);
    font-family: 'Roboto', sans-serif;
    margin-left: 5vh;
    padding-top: 2vh;
}

form {
    margin-left: 5vh;
    margin-top: 20px;
    display: flex;
    gap: 10vh;
}

.form-control-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

input {
    width: 30vh;
    font-family: 'Roboto', sans-serif;
    height: 3vh;
    border: 1px solid #E5E7EB;
    border-radius: 2px;
}

input:focus {
    border: 1px solid var(--clr-accent);
    box-shadow: 0 2px 3px -2px black; 
    outline: none;
}

.create-account-button {
    margin-left: 5vh;
    margin-top: 3vh;
    padding: 10px 50px;
    background-color: var(--clr-light);
    border: 1.5px solid var(--clr-accent);
    border-radius: 5px;
    color: var(--clr-accent);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.create-account-button:hover {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

.login-prompt {
    margin-left: 5vh;
    margin-top: 2vh;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.login-link {
    color: var(--clr-accent);
    text-decoration: none;
    font-weight: 600;
}

.required-style {
    color: var(--clr-accent);
}